<h3>Angular projects:</h3>

<ul>
    <li><a target="_blank" href="https://anketa.rsb.ru/card/8998/">anketa.rsb.ru</a></li>
    <li><a target="_blank" href="http://coldfox.ru/">coldfox.ru (MEAN/my)</a></li>
</ul>