<nav class="bg-light mb-4">
    <div class="container">
        <div class="row">
            <div class="navbar">
                <a class="navbar-brand">{{pageTitle}}</a>
                <ul class="nav nav-pills">
                    <li>
                        <a class="nav-link"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }"
                           routerLink='/weather'>Weather</a>
                    </li>
                    <li>
                        <a class="nav-link"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }"
                           routerLink='/about'>About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>