<form>
    <div class="form-group">
        <label for="exampleInputCity">City</label>
        <input type="text"
               [formControl]="city"
               class="form-control"
               id="exampleInputCity"
               placeholder="Enter city">
        <small class="form-text text-muted">Get weather by city name</small>
    </div>
</form>


<google-chart [dynamicResize]="true"
              [data]="dataChart"
              [type]="typeChart"></google-chart>

